@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-display: 'Roboto Mono', 'Noto Sans TC', monospace;

  --color-primary: #006284;
  --color-secondary: #58b2dc;
  --color-accent: #f75c2f;

  --color-nalika-bg: #152036;
  --color-nalika-surface: #1b2a47;
  --color-nalika-text: #c2c7cb;
  --color-nalika-text-muted: #a7acb1;
  --color-nalika-border: #2a3f5c;
  --color-nalika-header: #192d4d;
}
